
<p>
  <strong>Imie i nazwisko:</strong>
  <%= @doctor.name %>
</p>
 
<p>
  <strong>Specjalizacja:</strong>
  <%= @doctor.spec %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @doctor.address %>
</p>

<%= link_to 'Powrot', doctors_path %>